*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/12345.jpg);
	background-position: center;
	background-size: cover;
}
.navbar{
	height: 80px;
	width: 100%;
	background: rgba(0,0,0,0.7);
}
.logo{
	color: white;
	margin-left: 80px;
	padding-top: 30px;
	user-select: none;
}
.navbar ul{
	float: right;
	margin-right: 80px;
}
.navbar ul li{
	display: inline-block;
	line-height: 20px;
	margin: 0 8px;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 13px;
	padding: 5px 10px;
	border-radius: 5px;
	text-transform: uppercase;

}
.navbar ul li a:hover{
	background: red;
}
.word{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: none;
}
.word h1{
	font-size: 100px;
	color: white;
	font-weight: bold;
	width: 700px;
	text-align: center;
	padding-left: 80px;

}
.word p{
	font-size: 20px;
	color: white;
	font-weight: bold;
	width: 900px;
	text-align: center;
	padding-top: 30px;
	line-height: 50px;
}